geopy==2.1.0
pyserial==3.5 
pynmea2==1.15.0
matplotlib
haversine==2.3.0
vincenty==0.1.4
numpy==1.22.0
statistics==1.0.3.5
PySimpleGui #comment this out when running on rpi
CMake
wmm2020
ahrs
opencv-python
#TODO: april tag library



 #import only if on rpi: 
# sparkfun-ublox-gps